<div class="flex">
  <div class="calculator">
    <h1>Calculator App</h1>
    <table>
      <tr>
        <td colspan="2"><input type="number" [(ngModel)]="input1"></td>
        <td colspan="2"><input type="number" [(ngModel)]="input2"></td>
      </tr>
      <tr>
        <td colspan="4"><input type="number" placeholder="Result" [(ngModel)]="result" disabled></td>
      </tr>
      <tr>
        <td><button (click)="add()">+</button></td>
        <td><button (click)="sub()">-</button></td>
        <td><button (click)="mul()">*</button></td>
        <td><button (click)="divide()">/</button></td>
      </tr>
    </table>
  </div>
</div>